@import url("https://fonts.googleapis.com/css?family=PT+Sans&display=swap");

// $bg: #fff;
$bg: #f5f6fa;
$blue: #273c75;
$border: #f0f2f7;
// $border: #dcdde1;

$desktop: 840px;

@mixin mobile {
  @media (max-width:#{$desktop}) {
    @content;
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", sans-serif;
  background-color: $bg;
}

h1 {
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  form#search {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem auto;

    @include mobile {
      width: 80%;
    }

    label {
      //   display: block;
      margin-bottom: 5px;
    }

    input {
      border-radius: 4px;
      width: 100%;
      margin-bottom: 1rem;
      padding: 10px;
      outline: none;
      border: 1px solid $border;
    }

    button {
      padding: 8px 33px;
      border-radius: 4px;
      border: none;
      background-color: #273c75;
      color: #fff;
      font-size: 16px;
      transition: 0.2s all;

      &:hover {
        cursor: pointer;
        opacity: 0.9;
      }
    }
  }

  .error {
    color: #e74c3c;
  }

  .news {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .news-meta {
      font-size: 14px;
      margin-bottom: 2rem;
    }

    .card {
      width: 60%;
      border: 1px solid $border;
      border-radius: 5px;
      box-shadow: 5px 7px 38px -3px rgba(240, 231, 240, 0.61);
      margin-bottom: 1rem;
      background-color: #fff;

      @include mobile {
        width: 80%;
      }

      .card-img {
        img {
          width: 100%;
          height: auto;
        }
      }

      .card-body {
        padding: 12px;

        h2 {
          a {
            color: $blue;
            text-decoration: none;

            &:hover {
              text-decoration: underline;
            }
          }
        }

        .meta {
          font-size: 14px;
          .author,
          .source {
            color: $blue;
          }
        }
      }
    }
  }
}
.footer {
  text-align: center;
  font-size: 14px;

  a {
    text-decoration: none;
    color: $blue;
  }
}
