@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ecf0f1;
  padding: 12px;
  overflow-x: hidden;
}

.card {
  background-color: #fff;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05), 0 6px 6px rgba(0, 0, 0, 0.1);
  position: relative;
  margin: 8px;
  max-width: 650px;

  &:before {
    background-color: #e67e22;
    border-radius: 20px;
    content: "";
    opacity: 0.8;
    position: absolute;
    bottom: -25px;
    right: -25px;
    height: 150px;
    width: 540px;
    z-index: -1;
    transition: 0.5s all;
  }

  &:hover:before {
    height: 220px;
    width: 600px;
  }

  h2 {
    letter-spacing: 4px;
    margin-bottom: 16px;
    margin-top: 1rem;
  }
  p {
    margin-top: 12px;
  }
  .links {
    display: flex;
    flex-wrap: wrap;
    margin-top: 1rem;

    .fab,
    .fas {
      margin-right: 8px;
    }

    a {
      text-decoration: none;
      padding: 8px 30px;
      background-color: red;
      color: #fff;
      border-radius: 5px;
      margin: 4px;
      transition: 0.3s all;

      &:nth-of-type(1) {
        background-color: #e74c3c;
      }
      &:nth-of-type(2) {
        background-color: #3498db;
      }
      &:nth-of-type(3) {
        background-color: #0abde3;
      }
      &:nth-of-type(4) {
        background-color: #ee5a24;
      }

      &:hover {
        transform: translateY(-4px);
      }
    }
  }
}
